/* 
CSS created by Okhuarobo Immanuel
Made By Mod / madebymod.co.uk / hello@madebymod.co.uk
colour: #057e29 - green
*/
html {
	font-size: 13px;
}
body, html {
	height: 100%;
}
body {
	padding: 0px;
	margin: 0px;
	background-color: #3c3c3c;
	color: #fff;
	font-family: "proxima-nova", Helvetica, sans-serif;
	font-weight: 400;
}
a {
	color: #fff;
	outline: none;
	text-decoration: none;
	-webkit-transition: all 0.2ms ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: none;
}
.clear {
	clear: both;
	height: 1px;
}
input, textarea, select {
	font-size: 1rem;
}
h1, h2, h3, h4, h5 {
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}
p {
	line-height: 145%;
}
header {
	position: fixed;
	z-index: 1000;
	width: 100%;
	background-color: #2d2d2d;
}
.home header, .home header .menu {
	display:none;
}
.header {
	padding: 10px 50px 10px 50px;
}
.header img.logo {
	height:80px;
}
.menu {
	position: absolute;
	right: 50px;
	bottom: 0px;
	z-index: 2;
}
.menu a {
	display: inline-block;
	text-transform: uppercase;
	padding: 0px 15px 16px 15px;
	border-bottom: 1px solid #2d2d2d;
	font-weight: 300;
	color: #c0c0c0;
	letter-spacing: 1px;
}
.menu a.active, .menu a:hover {
	border-bottom: 1px solid #057e29;
	text-decoration: none;
	color: #fff;
}
#banner_wrap {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	margin:0px!important
}
#banner_wrap img {
	position: absolute;
	z-index: 1;
	min-width: 100vw;
	min-height: 100vh;
	top: 0px;
	left: 0px;
}
.overlay {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	background-image:url(/images/bg-black-transparent-grey.png);
}
.wrapper {
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 3;
	height: 100%;
}
.blog {
	webkit-flex-align: flex-start;
	-ms-flex-align: flex-start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	justify-content: flex-start;
}
#banner_wrap .column {
	max-width: 900px;
	margin: 100px auto;
	text-align: center;
	padding-left: 10px;
}
.introduction {
	width: 60%;
	margin: 0px auto;
	font-size: 1.077rem;
}
.mini_intro {
	width:60%;
	margin: 0px auto!important;
}
h1, h4 {
	text-transform: uppercase;
	color: #fff;
	font-size: 2.5rem;
	font-weight: 600;
	letter-spacing: 2px;
}
h4 {
	font-size: 1.2rem;
}
h2 {
	color: #c0c0c0;
	font-style:italic;
	font-size: 1.15rem;
	font-family: "utopia-std", georgia;
}
h2.border, #footer_wrap h4, h4.border {
	padding-bottom: 19px;
	background-image: url(/images/bg-green.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	margin-bottom: 25px;
}
h2.small, #footer_wrap h4, h4.border {
	background-image: url(/images/bg-green-small.png);
}
#banner_wrap .tag, #project .tag {
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: center;
	padding: 30px 0px 0px 0px;
	z-index: 3;
	width: 100%;
}
.projects .tag, #project .tag {
	background: none!important;
}
.tag span {
	display: inline-block;
	padding-bottom: 15px;
	background-image: url(/images/bg-green.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	text-transform: uppercase;
	font-family: "utopia-std", georgia;
	margin-left: 10px;
	color:#c0c0c0;
}
.tag a:hover, .tag span:hover {
	color:#fff;
	cursor:pointer;
	text-decoration:none;
}
a.back {
	position:absolute;
	right:65px;
	text-transform: uppercase;
	font-family: "utopia-std", georgia;
	color:#057e29;
	top:120px;
	z-index:2;
}
.opts {
	position:absolute;
	right:120px;
	top:58%;
	z-index:3;
	padding:10px;
	background-image:url(/images/bg-grey-transparent.png);
	height:29px;
}
.opts a, .opts .watch {
	display:inline-block;
	width:29px;
	height:29px;
	overflow:hidden;
	text-indent:-999px;
	background-image:url(/images/icon-thumbs.png);
	background-repeat:no-repeat;
	background-position:0 0;
	-webkit-transition: all 0.2ms ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
.opts .watch {
	background-image:url(/images/icon-play-sprite.png);
}
	
.opts a, .opts img, .opts .counter {	
	margin:0px 5px;
}
.opts a:hover {
	background-position:0 -29px;
}
.opts .watch:hover {
	background-position:-38px 0;
	cursor:pointer;
}
.opts .counter {
	display:inline-block;
	width:45px;
	height:29px;
	margin-top:-2px;
	vertical-align:middle;
}
#content_wrap {
	background-color: #3c3c3c;
	position: relative;
	z-index: 2;
}
.content {
	max-width: 900px;
	margin: 0px auto;
}
.inner_block {
	text-align: center;
	width: 60%;
	margin: 0px auto;
}
.static h1, .static h2, .static h4 {
	text-align: center;
}
.block {
	padding: 50px 0px 0px 0px;
}
.block h2 {
	margin-bottom: 40px;
}
.main {
	webkit-flex-align: flex-start;
	-ms-flex-align: flex-start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.c_50 {
	width: 50%;
	padding-bottom: 40px;
}
.c_50 img {
	max-width: 100%;
	margin-bottom:5px;
}
.static .c_50 h4, .static .c_50 h2 {
	text-align:left;
	background-position:left bottom;
}
.center h4, .center h2 {
	text-align:center!important;
	background-position:center bottom!important;
}
.box {
	margin: 0px 15px;
}
.about .box {
	text-align:justify;
}
.box p {
	padding: 0px 0px 10px 0px;
	margin: 0px;
}
#all_footer {
	background-color:#2d2d2d;
}
#footer_wrap {
	max-width: 900px;
	margin: 60px auto 0px auto;
	border-top: 4px solid #057e29;
	padding-top: 25px;
	font-size: 0.9rem;
	padding-bottom:60px;
}
.c_33 {
	width: 33.333333333%;
}
.c_66 {
	width:66.6666666666%;
}
#footer_wrap .c_33 {
	text-align: center;
}
#footer_wrap h2 {
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 0.9rem;
}
#footer_wrap p {
	padding: 5px 0px 20px 0px;
	margin: 0px;
}
.news ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.news ul a {
	display: block;
	padding: 10px 0px;
	border-bottom: 1px solid #057e29;
	text-transform: uppercase;
}
.news ul li:first-of-type a {
	padding-top: 0px;
}
.projects {
	margin: 0px -5px;
}
.inner_project {
	margin: 5px;
	position: relative;
	z-index: 1;
	height: 0;
	padding-bottom: 54%;
	display: block;
	overflow: hidden;
	-webkit-transition: all 0.4ms ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
}
.blog_intro {
	margin:10px 5px 40px 5px;
}
.blog_intro h5 {
	font-size:1.1rem;
	min-height:40px;
	border-bottom: 1px solid #057e29;
	padding-bottom:10px;
	font-weight:600;
	letter-spacing:2px;
	text-transform:uppercase;
}
.blog .inner_project:hover {
	background-color:#343434!important;
}
.inner_project img.proj_image {
	width: 100%;
	position: relative;
	z-index: 1;
}
.green_block {
	background-image: url(/images/bg-green-transparent.png);
	position: absolute;
	top: 0%;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
	-webkit-transition: all 0.4ms ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	filter: alpha(opacity=0.01);
	opacity:0.0000001;
}
.mini_desc {
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	z-index: 5;
	text-align: center;
	margin-top: -10px;
	-webkit-transition: all 0.6ms ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	filter: alpha(opacity=0.01);
	opacity:0.0000001;
}
.mini_desc h1 {
	font-size: 1.1rem;
	padding-bottom: 15px;
}
.mini_desc a:hover {
	text-decoration:none;
}
.mini_desc p {
	text-transform: uppercase;
	font-size: 1rem;
	font-family: "utopia-std", georgia;
}
.inner_project:hover .mini_desc {
	filter: alpha(opacity=100);
	opacity:1;
}
.inner_project:hover .green_block {
	filter: alpha(opacity=100);
	opacity:1;
}
.other_images:hover .inner_project {
	filter: alpha(opacity=50);
	opacity:0.5;
}
.other_images:hover .inner_project:hover {
	filter: alpha(opacity=100);
	opacity:1;
}
.green_block a {
	display: block;
	width: 100%;
	height: 100%;
	text-align:center;
}
img.view {
	top:50%;
	margin-top:-30px;
	position:absolute;
	left:50%;
	margin-left:-30px;
	z-index:2;
	-webkit-transition: all 0.3ms ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	width:60px;
}
/*img.view:hover {
	-ms-transform: rotate(-90deg);
 	-moz-transform: rotate(-90deg);
 	-webkit-transform: rotate(-90deg);
 	-o-transform: rotate(-90deg);
 	transform: rotate(-90deg);
}*/
.green_block a:hover {
	text-decoration: none;
}
#project {
	padding-top: 105px;
	position: relative;
	z-index: 1;
	width: 100%;
}
.slider {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-top: 60px;
	
}
.slider__wrapper {
	list-style: none;
	overflow: hidden;
 *zoom: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	padding: 0px;
	margin: 0px;
	
}
.slider__item {
	float: left;
	clear: none;
	height: 100%;
	position: relative;
	z-index: 1;
	
}
#supersized {
	position:fixed;
	top:0px;
	left:0px;
	z-index:0;
	width:100%;
	height:100%;
}
#supersized .slider, #supersized li {
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
}
#supersized img {
	min-width:100%;
	min-height:100%;
	width:100%;
}
#supersized .slider__arrows-item {
	display:none;
}
.play {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -45px;
	margin-left: -30px;
	z-index: 99;
	text-transform: uppercase;
	font-size: 1rem;
	font-family: "utopia-std", georgia;
	display: block;
	text-align: center;
	background-image:url(/images/icon-play-big-sprite.png);
	background-repeat:no-repeat;
	height:20px;
	padding-top:100px;
	width:90px;
	-webkit-transition: all 0.2ms ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
.play:hover {
	background-position:-119px 0;
}
img.watch, #vids img {
	max-width: 60px;
	-webkit-transition: all 0.3ms ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

.play:hover, .opts img.watch:hover, #vids img:hover {
	cursor:pointer;
}
.play:hover img, .opts:hover img.watch,  #vids img:hover {
	-ms-transform: rotate(90deg);
 	-moz-transform: rotate(90deg);
 	-webkit-transform: rotate(90deg);
 	-o-transform: rotate(90deg);
 	transform: rotate(90deg);
}
.inner_slider {
	height: 0;
	padding-bottom: 35%;
	text-align: center;
}
.inner_slider img {
	-webkit-transition: all 0.4ms ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
}
.slider__arrows-item {
	position: absolute;
	display: block;
	margin-bottom: -32px;
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -999px;
	overflow: hidden;
	-webkit-transition: all 0.2ms ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}
.slider__arrows-item:hover {
}
.slider__arrows-item--right {
	bottom: 50%;
	right: 30px;
	background-image: url(/images/icon-arrow-forward.png);
}
.slider__arrows-item--right:hover {
	right: 0px;
	padding-left: 30px;
}
.slider__arrows-item--left {
	bottom: 50%;
	left: 30px;
	background-image: url(/images/icon-arrow-back.png);
}
.slider__arrows-item--left:hover {
	left: 0px;
	padding-right: 30px;
}
.slider__nav {
	position: absolute;
	bottom: 30px;
}
.slider__nav-item {
	display: none;
}
.project_desc {
	padding-bottom: 30px;
	text-align:center;
}
#vids {
	position: absolute;
	top: -125%;
	left: 0px;
	width: 100%;
	z-index: 99;
	-webkit-transition: all 0.4ms ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	background-color: #000;
}
#vids img {
	position:absolute;
	top:10px;
	right:10px;
	z-index:4;
	max-width:30px;
}
#vids iframe {
	position:relative;
	z-index:1;
}
#loader {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 100000;
	background-color: #3c3c3c;
}
uiload {
	display: inline-block;
	position: relative;
}
uiload > div {
	position: relative;
}
 @-webkit-keyframes uil-ring-anim {
 0% {
 -ms-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
}
 100% {
 -ms-transform: rotate(360deg);
 -moz-transform: rotate(360deg);
 -webkit-transform: rotate(360deg);
 -o-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
 @-moz-keyframes uil-ring-anim {
 0% {
 -ms-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
}
 100% {
 -ms-transform: rotate(360deg);
 -moz-transform: rotate(360deg);
 -webkit-transform: rotate(360deg);
 -o-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
 @-ms-keyframes uil-ring-anim {
 0% {
 -ms-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
}
 100% {
 -ms-transform: rotate(360deg);
 -moz-transform: rotate(360deg);
 -webkit-transform: rotate(360deg);
 -o-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
 @keyframes uil-ring-anim {
 0% {
 -ms-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
}
 100% {
 -ms-transform: rotate(360deg);
 -moz-transform: rotate(360deg);
 -webkit-transform: rotate(360deg);
 -o-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
.uil-ring-css {
	background: none;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	margin-top: 0px;
	margin-left: -50px;
	width: 100px;
	height: 100px;
}
.uil-ring-css > div {
	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	top: 20px;
	left: 20px;
	border-radius: 80px;
	box-shadow: 0 6px 0 0 #057e29;
	-ms-animation: uil-ring-anim 1s linear infinite;
	-moz-animation: uil-ring-anim 1s linear infinite;
	-webkit-animation: uil-ring-anim 1s linear infinite;
	-o-animation: uil-ring-anim 1s linear infinite;
	animation: uil-ring-anim 1s linear infinite;
}
.center {
	text-align:center;
}
#map {
	height:300px;
}
.socials {
	margin-top:10px;
	margin-bottom:46px;
}
.socials a {
	display:inline-block;
	width:34px;
	height:27px;
	background-repeat:no-repeat;
	background-position:0 0;
	overflow:hidden;
	text-indent:-999px;
	margin:0px 4px;
	background-size:34px;
}
.socials a.facebook {
	background-image:url(/images/icon-facebook.png);
}
.socials a.twitter {
	background-image:url(/images/icon-twitter.png);
}
.socials a.youtube {
	background-image:url(/images/icon-youtube.png);
}
.socials a.instagram {
	background-image:url(/images/icon-instagram.png);
}
.socials a:hover {
	background-position:0 -30px;
}
.article_wrap {
	margin:50px 0px;
}
.news_content, .c_66 h3 {
	margin-left:5px;
}
.c_66 h3, .shares a:hover, .news a:hover {
	color:#057e29;
	text-decoration:none;
}
.news_content {
	border-top:1px solid #057e29;
	margin-top:36px;
}
.shares a {
	display:block;
	border-bottom:1px solid #057e29;
	text-align:center;
	padding:10px 0px;
	font-family: "proxima-nova", Helvetica, sans-serif;
	color:#fff;
	text-transform:uppercase;
	margin-right:5px;
}
ul.twits {
	padding:0px;
	margin:6px 20px 0px 20px;
	list-style:none;
}
ul.twits a, .blog_intro h5 a:hover {
	color:#057e29;
	cursor:pointer;
	text-decoration:none;
}
.mobile {
	display:none;
}
#homage {
	display:block;
	width:100%;
	height:100%;
	background-color: #3c3c3c;
	position:fixed;
	top:0px;
	left:0px;
	z-index:999;
}
#homage img {
	position:absolute;
	left:50%;
	top:50%;
	z-index:1;
	width:250px;
	margin-left:-125px;
	margin-top:-90px;
	display:none;
}
.block_header {
	position:relative;
	z-index:1;
	display:block;
	overflow:hidden;
}
.block_header img {
	min-height:100%;
	min-width:100%;
	position:absolute;
	z-index:1;
	top:-5px;
	right:0px;
	opacity:0.4;
	filter: alpha(opacity=40);
}
.block_intro {
	position:relative;
	z-index:2;
	text-align:center;
	/*background-image:url(/images/bg-black-transparent.png);*/
	padding:100px 0px 80px 0px;
}
.about .introduction, .about .mini_intro {
	padding-bottom:50px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	html {
		font-size:50%;
	}
	.opts {
		position:absolute;
		right:auto;
		left:30px;
		top:70px;
		z-index:3;
		padding:10px;
		background:none;
		height:29px;
	}
	.opts .counter {
		margin-top:37px;
	}
	#banner_wrap img {
		height: 100vh;
		min-height:10px;
	}
	.projects {
		margin: 0px 0px;
	}
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	#supersized {
		position:fixed;
	}
	#supersized img {
		width:100%;
	}
	header {
		position: relative;
	}
	.header {
		padding-bottom:10px;
		text-align:center;
	}
	img.logo {
		margin-bottom:10px;
	}
	.menu {
		position:relative;
		right:auto;
		display:none;
	}
	.menu a {
		display: block;
		padding: 5px 0px;
		text-align:center;
	}
	.mobile {
		display:block;
	}
	img.menu_link {
		position:absolute;
		right:10px;
		top:10px;
		width:40px;
	}
	h1 {
		font-size: 1.8rem;
	}
	.c_50, .c_33, .c_66 {
		width:100%;
	}
	.box {
		margin: 0px 10px;
	}
	.introduction {
		width: 90%;
		font-size:1rem;
	}
	.mini_intro {
		width:90%;
	}
	.inner_block {
		width: 80%;
	}
	#footer_wrap .c_33 ul {
		margin-bottom:20px;
	}
	.socials {
		padding-bottom:20px;
	}
	.projects {
		margin:0px 0px;
	}
	#project {
		padding-top:0px!important;
	}
	.opts, .back {
		display:none;
	}
	.inner_slider {
		padding-bottom: 60%;
	}
	.slider__arrows-item {
		background-size:30px;
	}
	.slider__arrows-item--right {
		bottom: 50%;
		right: 0px;
		background-image: url(/images/icon-arrow-forward.png);
	}
	.slider__arrows-item--right:hover {
		right: 0px;
		padding-left: 0px;
	}
	.slider__arrows-item--left {
		bottom: 50%;
		left:0px;
		background-image: url(/images/icon-arrow-back.png);
	}
	.slider__arrows-item--left:hover {
		left: 0px;
		padding-right:0px;
	}
	.slider {
		margin-top: 0px;
	}
	#thumbs .c_33 {
		width:50%;
	}
	.inner_project {
		margin-bottom:0px;
	}
	#banner_wrap img {
		height: 100vh;
		min-height:10px;
		min-width:10px;
		left:auto;
		right:0px;
	}
}